

body{
background-color: #EFE4D2;
text-align: center;
font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


p {
    text-align: center;
}

h1{
    text-align: center;
}

.container{
    display: block;
    border: solid 2px black;
    width: 300px;
    border-radius: 2%;
    background-color: rgb(5, 126, 167);
}

img {
    width: 60%;
    margin: auto;
}